.comand {
  padding: 95px 0;
  background-color: var(--second-bg-color);
}

.comand-list__item:not(:last-child) {
  margin-right: 30px;
}

.comand-card {
  background: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.comand-card__label {
  padding: 30px;
}

.comand-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.comand-card__desk {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-text-color);

  margin-bottom: 15px;
}
